.card{
     
   text-align: center;

    box-shadow: 3px 3px 5px rgb(229, 229, 231);
   
}

.sticky{

    position: -webkit-sticky;
    position: sticky !important;
    top: 50px;
    
}

.cart-image{
    width:100%;
    height: auto;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}